<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Dashboard</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'tasks/css/base.css' %}" />
  </head>
  <body>
    <div id="drawer-icon">&#9776;</div>

    <div id="side-drawer">
      <div id="user-name-drawer">Name</div>
      <a href="{% url 'user_profile_page' %}" class="drawer-link"
        >User Profile</a
      >
      {% comment %}
      <a href="{% url 'post_article_page' %}" class="drawer-link"
        >Post Article</a
      >
      {% endcomment %}
      <a href="{% url 'home_page' %}" class="drawer-link">home</a>
      <a href="{% url 'login-page' %}" class="drawer-link">Logout</a>
    </div>

    <div id="main-content">{% block content %}{% endblock %}</div>
    <script src="{% static 'tasks/js/base.js' %}"></script>
  </body>
</html>
