<!-- tasks/photos_page.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Photos Page</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'tasks/css/edit_photo_page.css' %}"
    />
  </head>
  <body>
    <button onclick="goToHomePage()">Back to Home</button>

    <h1>Task Photos Page</h1>

    <div id="photo-container" class="photo-container">
      <!-- Photos will be rendered here dynamically -->
    </div>

    <input
      type="file"
      id="fileInput"
      class="file-input"
      accept="image/*"
      multiple
      onchange="handleFileSelection()"
    />

    <button class="choose-more-button" onclick="openFileInput()">
      Choose More Photos
    </button>

    <button class="add-photos-button" onclick="uploadPhotos()">
      Add Photos
    </button>

    <div id="previewContainer"></div>

    <script src="{% static 'tasks/js/edit_photo_page.js' %}"></script>
  </body>
</html>
