{% extends 'tasks/base.html' %} {% block content %}
<h1>Tasks</h1>
<a href="{% url 'search-page' %}" class="search-icon">
  <img src="/media/search_icon.png" alt="Search Icon" />
</a>
<a href="{% url 'filter-page' %}" class="filter-icon">
  <img src="/media/filter_icon1.png" alt="Filter Icon" />
</a>
<div id="article-container" class="card-container"></div>
<a href="{% url 'create-task-page' %}" class="floating-button"> + </a>

<!-- Confirmation Modal -->
<div class="overlay" id="confirmationOverlay"></div>
<div class="modal" id="confirmationModal">
  <h2>Confirm Deletion</h2>
  <p>Are you sure you want to delete this task?</p>
  <button onclick="confirmDeletion()">Yes, Delete</button>
  <button onclick="cancelDeletion()">Cancel</button>
</div>

{% load static %}
<link rel="stylesheet" href="{% static 'tasks/css/home_page.css' %}" />

<script src="{% static 'tasks/js/home_page.js' %}"></script>

{% endblock %}
