<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Task</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'tasks/css/update_task.css' %}" />
  </head>

  <body>
    <div class="container">
      <h1>Update Task</h1>
      <div class="task-form-container">
        <h2>Update Task</h2>
        <form id="updateTaskForm">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" required />

          <label for="description">Description:</label>
          <textarea
            id="description"
            name="description"
            required
            rows="6"
          ></textarea>

          <label for="photos">Photos:</label>
          <input
            type="file"
            id="photos"
            name="photos"
            accept="image/*"
            multiple
            onchange="previewImages()"
          />
          <div
            class="image-preview-container"
            id="image-preview-container"
          ></div>

          <label for="existing-images">Existing Photos:</label>
          <div
            class="existing-images-container"
            id="existing-images-container"
          ></div>

          <label for="due_date">Due Date:</label>
          <input type="datetime-local" id="due_date" name="due_date" required />

          <label for="priority">Priority:</label>
          <select id="priority" name="priority" required>
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
          </select>

          <div class="checkbox-container">
            <p>Is Complete</p>
            <input type="checkbox" id="is_complete" name="is_complete" />
          </div>

          <button type="button" onclick="updateTask()">Update Task</button>
        </form>
      </div>
    </div>

    <script src="{% static 'tasks/js/update_task.js' %}"></script>
  </body>
</html>
